{{define "base"}}
{{template "tmplhtmlheader" .}}
{{template "tmplbodyheader" .}}
{{template "tmplguide" .}}
{{template "tmplsearchcontrol" .}}
{{template "tmplresultset" .}}
{{template "tmplbodyfooter" .}}
{{template "tmplhtmlfooter" .}}
{{end}}

