{{define "tmplresultset"}}
<div style="background: white;" class="container" id="suggested_queries">
    <div class="row" class="cell-12">
        
        <div id="result_set" style="padding:1em;"><div id="basicbits_return">{{.Title}}</div></div>
        <div class="container">
            <div class="row">
                <div class="cell-md-4 cell-sm-full" style="padding:0.5em;">
                    <h3>What should I ask?</h3>
                    <ul>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                        <hr style="color:#ddd;background:#ddd;"/>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                    </ul>
                </div>
                <div class="cell-md-4 cell-sm-full" style="padding:0.5em;">
                    <h3>Deeper searches?</h3>
                    <ul>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                        <hr style="color:#ddd;background:#ddd;"/>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                    </ul>
                </div>                
                <div class="cell-md-4 cell-sm-full"  style="padding:0.5em;">
                    <h3>Why should I care?</h3>
                    <p>
                        This is a new way to engage with the Government of Canada and the Public Service. It's not meant to replace anything. It's meant to support everything. We want you to build the next big thing. Let's make digital one
                        of Canada's natural resources. 
                    </p>
                    <h3 style="padding-top: 1em;">How does this work?</h3>
                    <p>
                        This is just so you can get started
                    </p>
                    <p>
                        <strong>What basicbits can do is up to you. This is just the beginning</strong> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
